<div id="<%= dom_id developer %>">
  <p>
    <strong>Name:</strong>
    <%= developer.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= developer.level_id %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= developer.genre %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= developer.birthdate %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= developer.age %>
  </p>

  <p>
    <strong>Hobby:</strong>
    <%= developer.hobby %>
  </p>

</div>
